    <div class="portfolio-modal modal fade" id="portfolioModal2" tabindex="-1" role="dialog" aria-labelledby="#portfolioModal1Label" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fas fa-times"></i></span></button>
                <div class="modal-body text-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Portfolio Modal - Title-->
                                <h2 class="portfolio-modal-title text-secondary mb-0">Node de cero a experto</h2>
                                <!-- Icon Divider-->
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                    <div class="divider-custom-line"></div>
                                </div>
                                <!-- Portfolio Modal - Image--><img class="img-fluid rounded mb-5" src="../assets/img/portfolio/node-expert.jpg" alt="Curso Node de cero a experto" />
                                <!-- Portfolio Modal - Text-->
                                <p class="mb-5">Disfrute mucho este curso, es muy completo, Fernando Herrera es muy buen profesor<br/>Temas y tecnologías vistas:<br/>MongoDB<br/>
                                            SocketIO<br/>
                                            Handlebars<br/>
                                            MLab<br/>
                                            JWT<br/>
                                            Git<br/>
                                            GitHub<br/>
                                            Robo 3T<br/>
                                            JSON<br/>
                                            Google Services<br/>
                                            Google APIs<br/>
                                            Heroku<br/>
                                            MySQL<br/>
                                            TypeScript<br/>
                                            PostMan<br/>
                                            Express<br/>
                                            YARGS<br/>
                                            Aplicaciones de consola<br/>
                                            Paquetes<br/>
                                            NPM<br/>
                                            RESTServer<br/>
                                            Y mucho más<br/></p>
                                <button class="btn btn-primary" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>Close Window</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
 <div class="portfolio-modal modal fade" id="portfolioModal0" tabindex="-1" role="dialog" aria-labelledby="#portfolioModal0Label" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fas fa-times"></i></span></button>
                <div class="modal-body text-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Portfolio Modal - Title-->
                                <h2 class="portfolio-modal-title text-secondary mb-0">Curso JavaScript Moderno Guia Definitiva Construye +15 Proyectos</h2>
                                <!-- Icon Divider-->
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                    <div class="divider-custom-line"></div>
                                </div>
                                <!-- Portfolio Modal - Image--><img class="img-fluid rounded mb-5" src="../assets/img/portfolio/UC-f7208762-6c9a-4391-9572-631f127733c8.jpg" alt="Curso JavaScript Moderno Guia Definitiva Construye +15 Proyectos" />
                                <!-- Portfolio Modal - Text-->
                                <p class="mb-5">
                                    <p>Proyectos realizados:</p>
                                    Formulario para guardar a Local Storage<br> Cotizador de Seguros de Auto<br> Simulador de Envio de Emails<br> Generador de Nombres desde una REST API<br> Cotizador de Criptomonedas desde una REST API<br> Eventos en
                                    tu ciudad con Event Brite y REST API<br> Carrito de Compras con Local Storage<br> Gasto Semanal<br> Agenda de Pacientes de Veterinaria<br> Buscador de Letras de Canciones<br> Mostrar Establecimientos con Mapas (Leaflet)
                                    desde una API Externa<br> Buscador y Filtro de Automoviles con Higher Order Functions <br>Cotizador de Prestamos con Intereses a pagar (Desarrollado en React)<br> Sitio web para una Agencia de Viajes (Desarrollado con
                                    NodeJS y Sequelize) <br>FullStack JavaScript con React, Express, MongoDB, Node y Electron</p>
                                <button class="btn btn-primary" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>Close Window</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-labelledby="#portfolioModal1Label" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fas fa-times"></i></span></button>
                <div class="modal-body text-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Portfolio Modal - Title-->
                                <h2 class="portfolio-modal-title text-secondary mb-0">Curso JavaScript</h2>
                                <!-- Icon Divider-->
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                    <div class="divider-custom-line"></div>
                                </div>
                                <!-- Portfolio Modal - Image--><img class="img-fluid rounded mb-5" src="../assets/img/portfolio/Certificado Curso JavaScript desde Cero.jpg" alt="Curso JavaScript" />
                                <!-- Portfolio Modal - Text-->
                                <p class="mb-5">¿Qué es JavaScript? y sus fundamentos.<br> Variables, tipos de datos, y todo el manejo de ello.<br> Sentencias condicionales, repetitivas, funciones, objetos y arreglos. Programación Orientada a Objetos. Contextos de ejecución,
                                    alcance, el objeto this y más.<br> Interacción con una página web, manipulación del DOM, cambiar elementos de una página y sus eventos.<br> Ejercicios de aplicación para entender los conceptos tratados.<br> Versiones
                                    modernas de JavaScript, las nuevas características de ES6+.<br> Manejo de fechas y horas con JavaScript.<br> JavaScript Asíncrono: CallBacks, Promesas, Async/Await, llamadas AJAX y APIs.<br> Node.js, para empezar a
                                    crear nuestro propio servidor web de desarrollo y utilizar otras herramientas.<br> Firebase, para poder almacenar información en la nube, utilizando su BD Firestore. Muchos temas más.</p>
                                <button class="btn btn-primary" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>Close Window</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

        <div class="portfolio-modal modal fade" id="portfolioModal3" tabindex="-1" role="dialog" aria-labelledby="#portfolioModal1Label" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fas fa-times"></i></span></button>
                <div class="modal-body text-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Portfolio Modal - Title-->
                                <h2 class="portfolio-modal-title text-secondary mb-0">Introduction to industry REST microservices in Golang (Go)</h2>
                                <!-- Icon Divider-->
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                    <div class="divider-custom-line"></div>
                                </div>
                                <!-- Portfolio Modal - Image--><img class="img-fluid rounded mb-5" src="../assets/img/portfolio/microservices-go.jpg" alt="Curso JavaScript" />
                                <!-- Portfolio Modal - Text-->
                                <p class="mb-5">Analysis and design of REST microservices.<br>
                                    Different architectures and patterns for implementing them in Go.<br>
                                    Test as you Go. Ensure the quality of your work.<br>
                                    Advanced concurrency patterns.<br>
                                    Parallel execution on Multi-Core VMs.<br>
                                    HTTP frameworks, comparison and appliance.<br>
                                    Consuming external APIs. Test them. Mock them. Measure them. Use them.<br>
                                    The ultimate and best way of mocking different layers of your application.<br>
                                    Debugging and completely testing your application.<br>
                                    Create native webservices.<br></p>
                                <button class="btn btn-primary" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>Close Window</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="portfolio-modal modal fade" id="portfolioModal5" tabindex="-1" role="dialog" aria-labelledby="#portfolioModal1Label" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fas fa-times"></i></span></button>
                <div class="modal-body text-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Portfolio Modal - Title-->
                                <h2 class="portfolio-modal-title text-secondary mb-0">Skill Factory Go - AVALITH</h2>
                                <!-- Icon Divider-->
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                    <div class="divider-custom-line"></div>
                                </div>
                                <!-- Portfolio Modal - Image--><img class="img-fluid rounded mb-5" src="../assets/img/portfolio/certificado-skill-go.jpg" alt="Curso JavaScript" />
                                <!-- Portfolio Modal - Text-->
                                <p class="mb-5">Estoy muy contento de haber finalizado esta capacitación en Golang, pude conocer excelentes personas, siempre dispuestas a ayudar, realizamos desde cero una red social usando:<br>
                                - Go para el backend<br>
                                - Git & Github para control de versiones<br>
                                - MongoDB para la base de datos<br>
                                - JWT para autenticación de usuarios<br>
                                - Bcrypt para encriptar contraseña<br>
                                - Postman para probar endpoints<br>
                                - Heroku para desplegar el proyecto<br>
                                - ReactJS para el frontend<br>
                                Estoy muy agradecido con todo el equipo de Avalith!<br></p>
                                <button class="btn btn-primary" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>Close Window</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>