    <header class="masthead bg-primary text-white text-center" id="animation">
        <div class="container d-flex align-items-center flex-column">
            <!-- <img src="assets/img/50ex.txt" alt=""> -->
            <!-- Masthead Avatar Image-->
            <!-- <img class="masthead-avatar mb-5" src="assets/img/profile.jpg" alt=""> -->
            <!-- Masthead Heading-->
            <h1 class="masthead-heading mb-0 animate__animated animate__zoomIn animate__slower	3s">Alejandro Lucas Santin</h1>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light animate__animated animate__zoomIn">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Masthead Subheading-->
            <p class="pre-wrap masthead-subheading font-weight-light mb-0 animate__animated animate__zoomIn">Jr Developer - Software engineering student</p>
        </div>
    </header>