    <section class="page-section bg-primary text-white mb-0" id="about">
        <div class="container">
            <!-- About Section Heading-->
            <div class="text-center">
                <h2 class="page-section-heading d-inline-block text-white">SKILLS</h2>
            </div>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>

            <div class="row justify-content-center">
                <!-- Here the results -->
                <div id="result"></div>
                

                <img id="skill" class="img-fluid rounded mb-5 html" src="../assets/img/skills/html.svg" alt="html">
                <img id="skill" class="img-fluid rounded mb-5" src="../assets/img/skills/css.svg" alt="css">
                <img id="skill" class="img-fluid rounded mb-5" src="../assets/img/skills/js.svg" alt="js">
                <img id="skill" class="img-fluid rounded mb-5" src="../assets/img/skills/bootstrap.svg" alt="bootstrap">
                <img id="skill" class="img-fluid rounded mb-5" src="../assets/img/skills/react.svg" alt="react">
                <img id="skill" class="img-fluid rounded mb-5" src="../assets/img/skills/node.svg" alt="node">
                <img id="skill" class="img-fluid rounded mb-5" src="../assets/img/skills/git.svg" alt="git">
                <img id="skill" class="img-fluid rounded mb-5" src="../assets/img/skills/mongo.svg" alt="mongo">
                <img id="skill" class="img-fluid rounded mb-5" src="../assets/img/skills/npm.svg" alt="npm">
                <img id="skill" class="img-fluid rounded mb-5" src="../assets/img/skills/4282234611551942134.svg" alt="postman">
                <img id="skill" class="img-fluid rounded mb-5" src="../assets/img/skills/go.svg" alt="go">
            </div>
        </div>
    </section>