<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="portafolio web" content="">
    <meta name="santin alejandro" content="">
    <title>Alejandro Santin - Developer</title>
    <!-- Font Awesome icons (free version)-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.13.0/js/all.min.js" crossorigin="anonymous"></script>
    <!-- Core theme CSS (includes Bootstrap)-->
    <link href="../css/styles.css" rel="stylesheet">
    <!-- Fonts CSS-->
    <link rel="stylesheet" href="../css/heading.css">
    <link rel="stylesheet" href="../css/body.css">
</head>

<body id="page-top">
    <nav class="navbar navbar-expand-lg bg-secondary fixed-top" id="mainNav">
        <div class="container"><a class="navbar-brand js-scroll-trigger" href="#page-top">HOME</a>
            <button class="navbar-toggler navbar-toggler-right font-weight-bold bg-primary text-white rounded" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">Menu <i class="fas fa-bars"></i></button>
            <div class="collapse navbar-collapse" id="navbarResponsive">
                <ul class="navbar-nav ml-auto">
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#portfolio">PORTFOLIO</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#about">SKILLS</a>
                    </li>
                    <li class="nav-item mx-0 mx-lg-1"><a class="nav-link py-3 px-0 px-lg-3 rounded js-scroll-trigger" href="#contact">CONTACT</a>
                    </li>
                </ul>
            </div>
        </div>
    </nav>
    <header class="masthead bg-primary text-white text-center" id="animation">
        <div class="container d-flex align-items-center flex-column">
            <!-- <img src="assets/img/50ex.txt" alt=""> -->
            <!-- Masthead Avatar Image-->
            <!-- <img class="masthead-avatar mb-5" src="assets/img/profile.jpg" alt=""> -->
            <!-- Masthead Heading-->
            <h1 class="masthead-heading mb-0">Alejandro Lucas Santin</h1>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Masthead Subheading-->
            <p class="pre-wrap masthead-subheading font-weight-light mb-0">Jr Developer - Student</p>
        </div>
    </header>
    <section class="page-section portfolio" id="portfolio">
        <div class="container">
            <!-- Portfolio Section Heading-->
            <div class="text-center">
                <h2 class="page-section-heading text-secondary mb-0 d-inline-block">PORTFOLIO</h2>
            </div>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Portfolio Grid Items-->
            <div class="row justify-content-center">
                <!-- Portfolio Items-->
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal4">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                        </div>
                        <button class="btn btn-primary">Proyects</button>
                        <img class="img-fluid" src="../assets/img/code.gif" alt="Locked Safe" />
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal0">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                        </div><img class="img-fluid" src="../assets/img/portfolio/UC-f7208762-6c9a-4391-9572-631f127733c8.jpg" alt="Curso JavaScript Moderno Guia Definitiva Construye +15 Proyectos" />
                    </div>
                </div>
                <div class="col-md-6 col-lg-4 mb-5">
                    <div class="portfolio-item mx-auto" data-toggle="modal" data-target="#portfolioModal1">
                        <div class="portfolio-item-caption d-flex align-items-center justify-content-center h-100 w-100">
                            <div class="portfolio-item-caption-content text-center text-white"><i class="fas fa-plus fa-3x"></i></div>
                        </div><img class="img-fluid" src="../assets/img/portfolio/Certificado Curso JavaScript desde Cero.jpg" alt="Curso JavaScript" />
                    </div>
                </div>
            </div>
        </div>
    </section>
    <!-- Portfolio Modal-->
    <div class="portfolio-modal modal fade" id="portfolioModal4" tabindex="-1" role="dialog" aria-labelledby="#portfolioModal4Label" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fas fa-times"></i></span></button>
                <div class="modal-body text-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Portfolio Modal - Title-->
                                <h2 class="portfolio-modal-title text-secondary mb-0">Here you will find some of what I have learned</h2>
                                <!-- Icon Divider-->
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                    <div class="divider-custom-line"></div>
                                </div>
                                <button id="btn" class="proyecto btn btn-primary">Expand</button>
                                <!-- Here the results -->
                                <div>
                                    <div id="resultado"></div>
                                </div>
                                <!-- Portfolio Modal - Image-->
                                <!-- <img class="img-fluid rounded mb-5" src="assets/img/portfolio/outsideTheBox.jpg" alt="Locked Safe" /> -->
                                <!-- Portfolio Modal - Text-->
                                <!-- <p class="mb-5"></p> -->
                                <!-- <a href="https://kungfucoding23.github.io/Mis-Proyectos/" target="_blank">Pagina temporal</a><br><br> -->
                                <!-- <button class="btn btn-primary" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>Close Window</button> -->
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal0" tabindex="-1" role="dialog" aria-labelledby="#portfolioModal0Label" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fas fa-times"></i></span></button>
                <div class="modal-body text-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Portfolio Modal - Title-->
                                <h2 class="portfolio-modal-title text-secondary mb-0">Curso JavaScript Moderno Guia Definitiva Construye +15 Proyectos</h2>
                                <!-- Icon Divider-->
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                    <div class="divider-custom-line"></div>
                                </div>
                                <!-- Portfolio Modal - Image--><img class="img-fluid rounded mb-5" src="../assets/img/portfolio/UC-f7208762-6c9a-4391-9572-631f127733c8.jpg" alt="Curso JavaScript Moderno Guia Definitiva Construye +15 Proyectos" />
                                <!-- Portfolio Modal - Text-->
                                <p class="mb-5">
                                    <p>Proyectos realizados:</p>
                                    Formulario para guardar a Local Storage<br> Cotizador de Seguros de Auto<br> Simulador de Envio de Emails<br> Generador de Nombres desde una REST API<br> Cotizador de Criptomonedas desde una REST API<br> Eventos en
                                    tu ciudad con Event Brite y REST API<br> Carrito de Compras con Local Storage<br> Gasto Semanal<br> Agenda de Pacientes de Veterinaria<br> Buscador de Letras de Canciones<br> Mostrar Establecimientos con Mapas (Leaflet)
                                    desde una API Externa<br> Buscador y Filtro de Automoviles con Higher Order Functions <br>Cotizador de Prestamos con Intereses a pagar (Desarrollado en React)<br> Sitio web para una Agencia de Viajes (Desarrollado con
                                    NodeJS y Sequelize) <br>FullStack JavaScript con React, Express, MongoDB, Node y Electron</p>
                                <button class="btn btn-primary" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>Close Window</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="portfolio-modal modal fade" id="portfolioModal1" tabindex="-1" role="dialog" aria-labelledby="#portfolioModal1Label" aria-hidden="true">
        <div class="modal-dialog modal-xl" role="document">
            <div class="modal-content">
                <button class="close" type="button" data-dismiss="modal" aria-label="Close"><span aria-hidden="true"><i class="fas fa-times"></i></span></button>
                <div class="modal-body text-center">
                    <div class="container">
                        <div class="row justify-content-center">
                            <div class="col-lg-8">
                                <!-- Portfolio Modal - Title-->
                                <h2 class="portfolio-modal-title text-secondary mb-0">Curso JavaScript</h2>
                                <!-- Icon Divider-->
                                <div class="divider-custom">
                                    <div class="divider-custom-line"></div>
                                    <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                                    <div class="divider-custom-line"></div>
                                </div>
                                <!-- Portfolio Modal - Image--><img class="img-fluid rounded mb-5" src="../assets/img/portfolio/Certificado Curso JavaScript desde Cero.jpg" alt="Curso JavaScript" />
                                <!-- Portfolio Modal - Text-->
                                <p class="mb-5">¿Qué es JavaScript? y sus fundamentos.<br> Variables, tipos de datos, y todo el manejo de ello.<br> Sentencias condicionales, repetitivas, funciones, objetos y arreglos. Programación Orientada a Objetos. Contextos de ejecución,
                                    alcance, el objeto this y más.<br> Interacción con una página web, manipulación del DOM, cambiar elementos de una página y sus eventos.<br> Ejercicios de aplicación para entender los conceptos tratados.<br> Versiones
                                    modernas de JavaScript, las nuevas características de ES6+.<br> Manejo de fechas y horas con JavaScript.<br> JavaScript Asíncrono: CallBacks, Promesas, Async/Await, llamadas AJAX y APIs.<br> Node.js, para empezar a
                                    crear nuestro propio servidor web de desarrollo y utilizar otras herramientas.<br> Firebase, para poder almacenar información en la nube, utilizando su BD Firestore. Muchos temas más.</p>
                                <button class="btn btn-primary" href="#" data-dismiss="modal"><i class="fas fa-times fa-fw"></i>Close Window</button>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <section class="page-section bg-primary text-white mb-0" id="about">
        <div class="container">
            <!-- About Section Heading-->
            <div class="text-center">
                <h2 class="page-section-heading d-inline-block text-white">SKILLS</h2>
            </div>
            <!-- Icon Divider-->
            <div class="divider-custom divider-light">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- About Section Content-->
            <div class="row justify-content-center">
                <img id="skill" class="img-fluid rounded mb-5 html" src="../assets/img/skills/html.svg" alt="html">
                <img id="skill" class="img-fluid rounded mb-5" src="../assets/img/skills/css.svg" alt="css">
                <img id="skill" class="img-fluid rounded mb-5" src="../assets/img/skills/js.svg" alt="js">
                <img id="skill" class="img-fluid rounded mb-5" src="../assets/img/skills/bootstrap.svg" alt="bootstrap">
                <img id="skill" class="img-fluid rounded mb-5" src="../assets/img/skills/react.svg" alt="react">
                <img id="skill" class="img-fluid rounded mb-5" src="../assets/img/skills/node.svg" alt="node">
                <img id="skill" class="img-fluid rounded mb-5" src="../assets/img/skills/git.svg" alt="git">
                <img id="skill" class="img-fluid rounded mb-5" src="../assets/img/skills/mongo.svg" alt="mongo">
                <img id="skill" class="img-fluid rounded mb-5" src="../assets/img/skills/npm.svg" alt="npm">
                <img id="skill" class="img-fluid rounded mb-5" src="../assets/img/skills/4282234611551942134.svg" alt="postman">
                <img id="skill" class="img-fluid rounded mb-5" src="../assets/img/skills/go.svg" alt="go">
            </div>
        </div>
    </section>
    <section class="page-section" id="contact">
        <div class="container">
            <!-- Contact Section Heading-->
            <div class="text-center">
                <h2 class="page-section-heading text-secondary d-inline-block mb-0">CONTACT</h2>
            </div>
            <!-- Icon Divider-->
            <div class="divider-custom">
                <div class="divider-custom-line"></div>
                <div class="divider-custom-icon"><i class="fas fa-star"></i></div>
                <div class="divider-custom-line"></div>
            </div>
            <!-- Contact Section Content-->
            <div class="row justify-content-center">
                <div class="col-lg-4">
                    <div class="d-flex flex-column align-items-center">
                        <div class="icon-contact mb-3"><i class="fas fa-mobile-alt"></i></div>
                        <div class="text-muted">Phone</div>
                        <div class="lead font-weight-bold">223 5815306</div>
                    </div>
                </div>
                <div class="col-lg-4">
                    <div class="d-flex flex-column align-items-center">
                        <div class="icon-contact mb-3"><i class="far fa-envelope"></i></div>
                        <div class="text-muted">Email</div><a class="lead font-weight-bold" href="mailto:alesantin012@hotmail.com">alesantin012@hotmail.com</a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <footer class="footer text-center">
        <div class="container">
            <div class="row justify-content-center">
                <!-- Footer Social Icons-->
                <div class="col-lg-4 mb-5 mb-lg-0">
                    <h4 class="mb-4">AROUND THE WEB</h4><a class="btn btn-outline-light btn-social mx-1" href="https://www.linkedin.com/in/alejandro-santin-7355641b0/" target="_blank"><i class="fab fa-fw fa-linkedin-in"></i></a>
                    <a class="btn btn-outline-light btn-social mx-1" href="https://github.com/Kungfucoding23" target="_blank"><i class="fab fa-fw fa-github"></i></a>
                </div>
            </div>
        </div>
    </footer>
    <!-- Copyright Section-->
    <section class="copyright py-4 text-center text-white">
        <div class="container"><small class="pre-wrap"> Developed and designed by <a href="mailto:alesantin012@hotmail.com" target="_blank">Alejandro Santin.</a> ©{{year}}. All rights reserved.</small></div>
    </section>
    <!-- Scroll to Top Button (Only visible on small and extra-small screen sizes)-->
    <div class="scroll-to-top d-lg-none position-fixed"><a class="js-scroll-trigger d-block text-center text-white rounded" href="#page-top"><i class="fa fa-chevron-up"></i></a></div>
    <!-- Bootstrap core JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.bundle.min.js"></script>
    <!-- Third party plugin JS-->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.4.1/jquery.easing.min.js"></script>
    <!-- Contact form JS-->
    <script src="../assets/mail/jqBootstrapValidation.js"></script>
    <script src="../assets/mail/contact_me.js"></script>
    <!-- Core theme JS-->
    <script src="../js/scripts.js"></script>
    <script src="../js/app.js"></script>
</body>

</html>