
{{> head}}
<body id="page-top">
    {{> navbar}}
    {{> header}}
    {{> portfolio}}
    <!-- Portfolio Modal-->
    {{> proyects}}
    {{> courses}}
    {{> skills}}
    {{> contact}}
    {{> footer}}
    <!-- Copyright Section-->
    {{> copyright}}
</body>

</html>